@import 'variables';

.get-in-touch {
    background-color: $band-site-black;
    color: #fff;
    padding: 16px; // Adjust padding as needed
    display: flex;
    
    flex-direction: column;

    &__logo {
        margin-bottom: 20px;
        margin-top: 32px;
        flex-grow: 1;
        height: 20px;
        width: auto;
        max-height: 20px;
        max-width: 120px;

        &--image {
            max-width: 120px;
            height: 20px;
            display: block;
            margin-top: 10px;
        }
    }


    &__title {
        color: white;
        font-size: 2rem;
        font-family: 'AvenirDemi';
    }

    &__socials {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        align-content: center;

        &--icon {

            margin-right: 2rem;
            justify-content: center;
            height: 30px;
            width: auto;


        }
    }

    &__cards {

        &__wrapper {

            margin-bottom: 24px;


            &--itemtop {
                color: lightgray;
                margin-bottom: 0;
                padding-bottom: 4px;
                font-size: 16px;
                line-height: $footer-copy-line-height-mobile;
                font-weight: $footer-copy-text-weight-mobile;

            }

            &--itembottom {
                color: lightgray;
                margin-top: 0;
                font-size: 16px;
                line-height: $footer-copy-line-height-mobile;
                font-weight: $footer-copy-text-weight-mobile;
            }
        }

        &--email {
            color: lightgray;
            font-size: 1rem;
            margin-bottom: 32px;
        }
    }
}

span {

    color: white;

}

