@import 'variables';

.header {
  background-color: $band-site-black;
  padding: 20px 0px 0px 0px;
  text-align: center;


  &__logo {

    &--link {
      max-width: 120px;
      max-height: 20px;



    }
  }



  &__nav {
    display: flex;
    justify-content: space-around;
    
    margin: 8px 0 0 0;
   


    &-link {

      font-size: $subheader-text-size-mobile;
      line-height: $subheader-line-height-mobile;
      font-weight: $subheader-text-weight-mobile;
      margin-bottom: 0px;
      text-decoration: none;
      color: $mercury;
      flex-grow: 1;

      &:hover {

        border-bottom: 3px solid white;
        padding-bottom: 25px;
        margin-bottom: 0px;
        color: white;

      }

      &--active {
        border-bottom: 3px solid white;
        padding-bottom: 8px;
        margin-bottom: 0px;
        color: white;
      }
    }
  }
}

@media (min-width: 768px) {
  .header__logo-image {
    z-index: 2;
  }

  .header {
    display: grid;
    grid-template-columns: 32px auto auto;
    text-align: center;
    position: relative;

    padding: 40px 0;



    &__logo {


      width: 100%;
      grid-column: 1;
      padding-left: 72px;
      width: auto;


    }




    &__nav {
      display: initial;
      grid-column: 2;
      position: relative;

      z-index: 1;

      &-link1 {
        grid-column: 2;
        width: auto;
        margin-right: 24px;
      }

      &-link2 {
        grid-column: 3;
        width: auto;
      }

      &-link1,
      &-link2 {

        font-size: $labels-and-buttons-text-size-desktop;
        line-height: $labels-and-buttons-line-height-desktop;
        font-weight: $labels-and-buttons-text-weight-desktop;

        &:hover {
          border-bottom: 3px solid white;
          padding-bottom: 44px;
          margin-bottom: 0px;
          color: white;
        }

        &--active {
          border-bottom: 3px solid white;
          padding-bottom: 44px;
          margin-bottom: 0px;
          color: white;
        }
      }

    }
  }
}