@import 'variables';

.header {
  background-color: $band-site-black;
  padding: 1.25rem 0rem 0rem 0rem;
  text-align: center;
  height: 6rem;


  &__logo {

    &--link {
      max-width: 7.5rem;
      max-height: 1.25rem;



    }
  }



  &__nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;




    &-link {

      font-size: 1.125rem;
      line-height: 1.125rem;
      font-weight: $subheader-text-weight-mobile;
      margin-bottom: 0rem;
      text-decoration: none;
      color: $mercury;
      flex-grow: 1;
      max-width: 50%;

      &:hover {

        border-bottom: .1875rem solid white;
        padding-bottom: .875rem;
        margin-bottom: 0rem;
        color: white;
        font-family: 'AvenirDemi';

      }

      &--active {
        border-bottom: .1875rem solid white;
        padding-bottom: .875rem;
        margin-bottom: 0rem;
        color: white;
        font-family: 'AvenirDemi';
      }
    }
  }
}

@media (min-width: 48rem) {

  .header {
    background-color: $band-site-black;
    padding: 0;
    height: 6rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;


    &__logo {
      

      &--link {
        max-width: 7.5rem;
        max-height: 1.25rem;
        padding: 0 2.25rem;



      }
    }

    &__nav {
      
      padding: 2.25rem 2.25rem 0 0rem;
      &-link {

        font-size: 1.125rem;
        line-height: 1.125rem;
        font-weight: $subheader-text-weight-mobile;
        margin-bottom: 0rem;
        text-decoration: none;
        color: $mercury;
        width: 100%;
        padding: 0;
        margin: 0 2.25rem;
        
        
        
        

        &:hover {

          border-bottom: .1875rem solid white;
          padding-bottom: 2.25rem;
          margin-bottom: 0rem;
          color: white;
          font-family: 'AvenirDemi';

        }

        &--active {
          border-bottom: .1875rem solid white;
          padding-bottom: 2.25rem;
          margin-bottom: 0rem;
          color: white;
          font-family: 'AvenirDemi';
        }
      }
    }
  }

}