.container {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); // 6 auto columns
  gap: 16px; // gutter

  @media screen and (min-width: 768px) {
    // Tablet styles
    margin: 36px;
    grid-template-columns: repeat(12, 1fr); // 12 columns
    gap: 24px;
  }

  @media screen and (min-width: 1024px) {
    // Desktop styles
    margin: auto; // auto margin
    grid-template-columns: repeat(12, 63px); // 63px columns
    gap: 24px;
  }
}