@import 'variables';

.hero {
    position: relative;
    height: 200px;
    background: url(/Assets/Images/hero-bio.jpg) center/cover no-repeat;
    overflow: hidden;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($band-site-black, .5);

    }

    &__content {
        padding: 0 16px;
        margin-left: 16px;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: white;



    }
}

.heroShows__content--span {
    font-size: 10px;
}

.sectionHeader {
    padding: 0 0 0 16px;
    margin: 0;
    width: 100%;
}

.mainImage {
    padding: 0 16px;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

.article__header,
.article__header2 {
    padding: 0 16px;


}

.article__content {


    p {
        padding: 16px 16px;
        margin: 0;
    }

    @media (min-width: 768px) {
        column-count: 2;
        column-gap: 20px;


    }
}

.photoGallery {
    padding: 16px 16px;
    background-color: $alabaster;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
            width: calc(33.33% - 20px);
            margin: 0 10px 20px;
            overflow: hidden;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }


}




// New comment box work area

.commentBox {

    &__containers {

        margin-bottom: 16px;

        &--profile {
            height: 50px;
            width: 50px;
            background-color: lightgray;
            border-radius: 50%;
            margin-right: 16px;
            margin-top: 13px;
            overflow: hidden;
            flex-shrink: 0;
            
           
            
        }

        &--text {
            

            &--comment {
                padding-right: 16px;
                font-size: 16px;
            }
        }

        


        &__objects {

            display: flex;
            
            
            border-bottom: 1px gray solid;

            &--header {
                
                display: flex;
                justify-content: space-between;
                

              

           
        }

        

        




    }
}

}

.commentBox {

    padding: 0 16px;

    

    h1 {

        padding-left: 16px;
    }

    



    &__container {

        display: flex;
        align-items: flex-start;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px lightgray solid;
        
        

        &--image {

            width: 50px;
            height: 50px;
            margin-right: 16px;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 26px;

            img {

                width: auto;
                height: 100%;
                display: block;
            }
        }



        &__columnTwo {
            display: flex;
            flex-direction: column;
            flex: 1;

            #name, #comment {

                margin: 8px 0;
                height: 50px;
                border-width: 1px;
                border-color:lightgray;
                background-color: $alabaster;
                border-radius: 5px;
                font-family: 'avenir';
                padding-left: 16px;
                font-size: 16px;

                &::placeholder {

                    color: $band-site-black;
                }
                
            }

            #comment {

                height: 120px;
                padding-top: 16px;
            }

            label {

                color: rgb(151, 151, 151);
                
                text-transform: uppercase;
            }



            &--button {
                margin-top: 16px;
                border-radius: 5px;
                color: white;
                background-color: $band-site-black;
                height: 50px;
                font-size: 18px;
                padding-bottom: 16px;
            }
        }

    }

}

.comment__label {

    margin-top: 16px;
}




@media (min-width: 768px) {
    .hero {
        height: 100vh;
    }

    .hero__content-h1 {

        font-size: $page-header-text-desktop;
        line-height: $page-header-line-height-desktop;
        font-weight: $page-header-text-weight-desktop;
    }

    .sectionHeader {
        h2 {
            padding: 0px 64px;
            font-size: $section-header-text-size-desktop;
            line-height: $section-header-line-height-desktop;
            font-weight: $section-header-text-weight-desktop;
        }
    }

    .article__header {
        h3 {
            margin-bottom: 0;
            padding: 8px 160px 0px 160px;
            font-size: $subheader-text-size-desktop;
            line-height: $subheader-line-height-desktop;
            font-weight: $subheader-text-weight-desktop;
        }

    }

    .article__header2 {
        padding: 8px 176px 0px 176px;
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: $subheader-text-weight-desktop;
    }

    .article__header-sub {

        margin-top: 0;
        padding: 0px 160px;
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: $subheader-text-weight-desktop;

    }

    .article__content {

        padding: 0px 160px;

        p {
            font-size: $body-copy-text-size-desktop;
            line-height: $body-copy-line-height-desktop;
            font-weight: $body-copy-text-weight-desktop;
        }

    }

    .mainImage {
        padding: 0px 176px;

        img {
            height: 70%;
        }

    }

    .photoGallery {
        h2 {
            padding: 0px 64px;
            font-size: $section-header-text-size-desktop;
            line-height: $section-header-line-height-desktop;
            font-weight: $section-header-text-weight-desktop;
        }
    }
}