@import 'variables';


.javascript-shows {

    margin-bottom: 1rem;
    max-width: 100%;
}

.hero {
    position: relative;
    height: 42vh;
    background: url(/Assets/images/hero-shows.jpg) center/cover no-repeat;
    overflow: hidden;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($band-site-black, .5);

    }

    &__content {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 1rem 1rem;

        &-title {

            margin-bottom: 0;
        }

        &-subtitle {

            font-size: 1.125rem;
            font-family: 'Avenir';
            font-weight: 100;

        }

        &-h1--line1 {
            margin-bottom: 0;
        }

        &-h1--line2 {
            margin-top: 0;
        }

        &-h1--preline {
            margin-bottom: 0;
        }


    }


}

.iframe__div {
    font-size: .625rem;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
        Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;

    &--anchor1,
    &--anchor2 {
        color: #cccccc;
        text-decoration: none
    }
}


.upcoming-shows {
    &__header {
        margin-left: 1rem;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    &__containers {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-bottom: .125rem lightgrey solid;



        &--button {
            border-radius: .3125rem;
            color: white;
            background-color: $band-site-black;
            height: 3.125rem;
            font-size: 1.125rem;
        }


        &--titles {
            color: rgb(151, 151, 151);
            margin-bottom: .25rem;
            text-transform: uppercase;
            font-weight: 100;
            font-size: .875rem;
            letter-spacing: .0313rem;

            &--venue-location {

                margin-top: .875rem;
            }



            &-sub {
                font-family: 'AvenirDemi';
                font-size: 1rem;
                margin-top: .625rem;

            }
        }



    }
}

@media (min-width: 48rem) {

    iframe {

        width: 60%;
        padding-left: 2rem;
        
        
    }

    .hero {
        position: relative;
        height: 70vh;
        background: url(/Assets/images/hero-shows.jpg) center/cover no-repeat;
        overflow: hidden;
        

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($band-site-black, .5);

        }

        &__content {
            display: flex;
            flex-direction: column;
            color: white;
            padding: 2rem 2rem 4rem 2rem;

            &-title {

                margin-bottom: 0;
            }

            &-subtitle {

                font-size: 2.25rem;
                font-family: 'Avenir';
                font-weight: 100;
                padding-left: 2.25rem;

            }

            &-h1--line1 {
                margin-bottom: 0;
                font-size: 4rem;
                padding-left: 2rem;
            }

            &-h1--line2 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 4rem;
                padding-left: 2rem;
                padding-top: 2rem;
                padding-bottom: 4rem;

            }

            &-h1--preline {
                margin-bottom: 0;
            }


        }


    }

    .iframe__div {
        font-size: .625rem;
        color: #cccccc;
        line-break: anywhere;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
            Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
        font-weight: 100;

        &--anchor1,
        &--anchor2 {
            color: #cccccc;
            text-decoration: none
        }
    }


    .upcoming-shows {
        &__header {
            margin-left: 1rem;
            margin-top: 2.5rem;
            margin-bottom: 1rem;
            padding-left: 2.5rem;
            padding-top: 1rem;
        }



        &__containers {

            :hover {
                background-color: lightgray;

            }

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            padding: 1rem;
            border-bottom: .125rem lightgrey solid;


            &--button {
                border-radius: .3125rem;
                color: white;
                background-color: $band-site-black;
                height: 3.125rem;
                font-size: 1.125rem;
               

            }



            &--titles {
                color: rgb(151, 151, 151);
                margin-bottom: .25rem;
                text-transform: uppercase;
                font-weight: 100;
                font-size: .875rem;
                letter-spacing: .0313rem;
                width: 140px;
                

                &--venue-location {

                    margin-top: .875rem;
                }



                &-sub {
                    font-family: 'AvenirDemi';
                    font-size: 1rem;
                    margin-top: .625rem;

                }
            }



        }
    }

}

@media (min-width: 64rem) {
    iframe {

        width: 40%;
        padding-left: 2rem;
    }

    .hero__text--wrapper {

        display: flex;
        flex-direction: column;
    }

    .hero {
        position: relative;
        height: 80vh;
        background: url(/Assets/images/hero-shows.jpg) center/cover no-repeat;
        overflow: hidden;

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($band-site-black, .5);

        }

        &__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            padding: 1rem 1rem;

            

            &-title {

                margin-bottom: 0;
                width: 140px;
            }

            &-subtitle {

                font-size: 2.25rem;
                font-family: 'Avenir';
                font-weight: 100;
                padding-left: 2.25rem;
                

            }

            &-h1--line1 {
                margin-bottom: 0;
                font-size: 4rem;
                padding-left: 2rem;
            }

            &-h1--line2 {
                margin-top: 0;
                font-size: 4rem;
                padding-left: 2rem;
                padding-top: 2rem;
                padding-bottom: 4rem;

            }

            &-h1--preline {
                margin-bottom: 0;
            }


        }


    }

    .iframe__div {
        font-size: .625rem;
        color: #cccccc;
        line-break: anywhere;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
            Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
        font-weight: 100;

        &--anchor1,
        &--anchor2 {
            color: #cccccc;
            text-decoration: none
        }
    }


    .upcoming-shows {
        &__header {
            margin-left: 1rem;
            margin-top: 2.5rem;
            margin-bottom: 1rem;
            padding-left: 2.5rem;
            padding-top: 1rem;
        }

        // &__containers:hover {
        //     background-color: $alabaster;
        // }


        &__containers {

            &:hover {

                background-color: gray;
            }

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
            border-bottom: .125rem lightgrey solid;


            &--button {
                border-radius: .3125rem;
                color: white;
                background-color: $band-site-black;
                height: 3.125rem;
                font-size: 1.125rem;

            }



            &--titles {
                color: rgb(151, 151, 151);
                margin-bottom: .25rem;
                text-transform: uppercase;
                font-weight: 100;
                font-size: .875rem;
                letter-spacing: .0313rem;

                &--venue-location {

                    margin-top: .875rem;
                }



                &-sub {
                    font-family: 'AvenirDemi';
                    font-size: 1rem;
                    margin-top: .625rem;

                }
            }



        }
    }

}