@import 'variables';

.hero {
    position: relative;
    height: 15.625rem;
    background: url(/assets/images/hero-bio.jpg) center/cover no-repeat;
    overflow: hidden;


    &__overlay {
        position: absolute;
        display: flex;
        align-items: center;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($band-site-black, .5);

    }

    &__content {

        margin-left: 1rem;

        color: white;





    }
}

.about-section {
    padding-top: 1rem;
    margin: 0;
    width: 100%;

    &__h2 {
        font-size: 2rem;
        padding-left: 1rem;
    }
}

.main-image {
    padding: 0 1rem;

    &--image {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

.article__header {
    padding: 0 1rem;
    font-size: 1.25rem;
    margin-bottom: 0;

    &--h3 {

        font-size: .125rem;
    }

    &-sub {
        padding-left: 1rem;
        font-size: 1.125rem;
    }


}

.article__content {


    &--p {
        padding: 1rem 1rem;
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: .0063rem;
        margin: 0;
    }

    @media (min-width: 48rem) {
        column-count: 2;
        column-gap: 1.25rem;


    }
}

.photo-gallery {
    padding: 1rem;

    background-color: $alabaster;

    &__header {

        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: 'AvenirDemi';
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;


        img {
            max-width: 100%;
            height: auto;


        }


    }


}


.js-wrapper-index {

    margin-bottom: 1rem;
    max-width: 100%;
}


.comment-box {



    &__containers {

        margin-bottom: 1rem;

        &--profile {
            height: 3.125rem;
            width: 3.125rem;
            background-color: lightgray;
            border-radius: 50%;
            margin-right: 1rem;
            margin-top: .8125rem;
            overflow: hidden;
            flex-shrink: 0;



        }

        &--text {




            &--comment {
                padding-right: 1rem;
                font-size: 1rem;
                margin-top: 0;
                word-wrap: break-word;
                max-width: 100%;


            }
        }




        &__objects {



            display: flex;
            border-bottom: .0625rem lightgray solid;
            margin: 0 1rem;

            &--content {
                max-width: 100%;
                word-wrap: break-word;
                overflow: hidden;

                flex-grow: 1;

            }

            &--header {

                display: flex;


                justify-content: space-between;


                &--date {
                    flex-wrap: nowrap;

                }

            }
        }
    }
}

.placeholder-box {

    padding: 0 1rem;





    &__header {

        padding-left: 1rem;
    }





    &__container {

        display: flex;
        align-items: flex-start;
        padding-bottom: 1rem;
        margin-bottom: 0;
        border-bottom: .0625rem lightgray solid;



        &--image {

            width: 3.125rem;
            height: 3.125rem;
            margin-right: 1rem;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 1.625rem;

            img {

                width: auto;
                height: 100%;
                display: block;
            }
        }



        &__column-two {
            display: flex;
            flex-direction: column;
            flex: 1;

            #name,
            #comment {

                margin: .5rem 0;
                height: 3.125rem;
                border-width: .0625rem;
                border-color: lightgray;
                background-color: $alabaster;
                border-radius: .3125rem;
                font-family: 'avenir';
                padding-left: 1rem;
                font-size: 1rem;

                &::placeholder {

                    color: $band-site-black;
                }

            }

            #comment {

                height: 7.5rem;
                padding-top: 1rem;
            }

            label {

                color: rgb(151, 151, 151);

                text-transform: uppercase;
            }



            &--button {
                margin-top: 1rem;
                border-radius: .3125rem;
                color: white;
                background-color: $band-site-black;
                height: 3.125rem;
                font-size: 1.125rem;
                padding-bottom: 0;
                line-height: 3.125rem;







            }
        }

    }

}

.comment__label {

    margin-top: 1rem;
}




@media (min-width: 48rem) {
    .hero {
        height: 100vh;
    }

    .hero__content-h1 {
        padding-left: 2.25rem;

        font-size: $page-header-text-desktop;
        line-height: $page-header-line-height-desktop;
        font-weight: $page-header-text-weight-desktop;
    }

    .sectionHeader {
        h2 {
            padding: 0rem 4rem;
            font-size: $section-header-text-size-desktop;
            line-height: $section-header-line-height-desktop;
            font-weight: $section-header-text-weight-desktop;
        }
    }

    .article__header {
        h3 {
            margin-bottom: 0;
            padding: .5rem 10rem 0rem 10rem;
            font-size: $subheader-text-size-desktop;
            line-height: $subheader-line-height-desktop;
            font-weight: $subheader-text-weight-desktop;
        }

    }

    .article__header2 {
        padding: .5rem 11rem 0rem 11rem;
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: $subheader-text-weight-desktop;
    }

    .article__header-sub {

        margin-top: 0;
        padding: 0rem 10.875rem;
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: $subheader-text-weight-desktop;

    }

    .article__content {

        padding: 0rem 10rem;

        p {
            font-size: $body-copy-text-size-desktop;
            line-height: $body-copy-line-height-desktop;
            font-weight: $body-copy-text-weight-desktop;
        }

    }

    .about-section__h2 {
        padding-left: 3rem;
        font-size: 3rem;
        padding-top: 1rem;
        font-family: "AvenirDemi";
    }

    .main-image {
        padding: 0rem 11rem;

        img {
            height: 70%;
        }

    }

    .photo-gallery {

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1.625rem;
            flex-wrap: wrap;
            padding: 0 1.625rem;

            img {

                width: 100%;
            }
        }



        h2 {
            padding: 0rem 1.625rem 1rem 1.625rem;
            font-size: 3rem;
            line-height: $section-header-line-height-desktop;
            font-weight: $section-header-text-weight-desktop;
        }
    }


    .placeholder-box__header {

        padding-left: 2.25rem;
    }

    .placeholder-box {

        padding: 0 10rem 0 5rem;
        margin: 0 1rem;
        border-bottom: .125rem lightgray solid;

        &__container {

            display: flex;
            align-items: flex-start;
            padding-bottom: 0;
            margin-bottom: 0;
            border: initial;




            &--image {

                width: 3.125rem;
                height: 3.125rem;
                margin-right: 1rem;
                border-radius: 50%;
                overflow: hidden;
                margin-top: 2.625rem;

                img {

                    width: auto;
                    height: 100%;
                    display: block;
                }
            }



            &__column-two {
                display: flex;
                flex-direction: column;
                flex: 1;

                #name,
                #comment {

                    margin: .5rem 0;
                    height: 3.125rem;
                    border-width: .0625rem;
                    border-color: lightgray;
                    background-color: $alabaster;
                    border-radius: .3125rem;
                    font-family: 'avenir';
                    padding-left: 1rem;
                    font-size: 1rem;

                    &::placeholder {

                        color: $band-site-black;
                    }

                }

                #comment {

                    height: 7.5rem;
                    padding-top: 1rem;
                }

                label {

                    color: rgb(151, 151, 151);
                    padding-top: 1rem;
                    text-transform: uppercase;
                }



                &--button {
                    margin-top: 1rem;
                    margin-bottom: 1.625rem;
                    border-radius: .3125rem;
                    color: white;
                    background-color: $band-site-black;
                    height: 3.125rem;
                    font-size: 1.125rem;

                    line-height: 3.125rem;
                    width: 30%;
                    align-self: flex-end;







                }
            }

        }

    }

    .comment-box {

        &__containers {

            &__objects {

                margin-top: 1rem;
                margin-bottom: 2.25rem;
            }
        }
    }
}

@media (min-width: 64rem) {

    .hero {
        height: 100vh;
    }

    .hero__content-h1 {
        padding-left: 2.25rem;

        font-size: $page-header-text-desktop;
        line-height: $page-header-line-height-desktop;
        font-weight: $page-header-text-weight-desktop;
    }

    .sectionHeader {
        h2 {
            padding: 0rem 4rem;
            font-size: $section-header-text-size-desktop;
            line-height: $section-header-line-height-desktop;
            font-weight: $section-header-text-weight-desktop;
        }
    }

    .article__header {
        h3 {
            margin-bottom: 0;
            padding: .5rem 10rem 0rem 10rem;
            font-size: $subheader-text-size-desktop;
            line-height: $subheader-line-height-desktop;
            font-weight: $subheader-text-weight-desktop;
        }

    }

    .article__header2 {
        padding: .5rem 11rem 0rem 11rem;
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: $subheader-text-weight-desktop;
    }

    .article__header-sub {

        margin-top: 0;
        padding: 0rem 10.875rem;
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: $subheader-text-weight-desktop;

    }

    .article__content {

        padding: 0rem 10rem;

        p {
            font-size: $body-copy-text-size-desktop;
            line-height: $body-copy-line-height-desktop;
            font-weight: $body-copy-text-weight-desktop;
        }

    }

    .about-section__h2 {
        padding-left: 3rem;
        font-size: 3rem;
        padding-top: 1rem;
        font-family: "AvenirDemi";
    }

    .main-image {
        padding: 0rem 11rem;

        img {
            height: 70%;
        }

    }

    .photo-gallery {

        &__container {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            flex-wrap: wrap;
            padding: 0 8rem;

            img {

                width: 30%;
            }
        }



        h2 {
            padding: 0rem 1.625rem 1rem 1.625rem;
            font-size: 3rem;
            line-height: $section-header-line-height-desktop;
            font-weight: $section-header-text-weight-desktop;
        }
    }


    .placeholder-box__header {

        padding-left: 8rem;
        font-size: 2.5rem;
        padding-top: 4rem;
    }

    .placeholder-box {

        // padding: 0 25rem 0 25rem;
        margin: 0 25rem;
        border-bottom: .125rem lightgray solid;

        &__container {

            display: flex;
            align-items: flex-start;
            padding-bottom: 0;
            margin-bottom: 0;
            border: initial;




            &--image {

                width: 3.125rem;
                height: 3.125rem;
                margin-right: 1rem;
                border-radius: 50%;
                overflow: hidden;
                margin-top: 2.625rem;

                img {

                    width: auto;
                    height: 100%;
                    display: block;
                }
            }



            &__column-two {
                display: flex;
                flex-direction: column;
                flex: 1;

                #name,
                #comment {

                    margin: .5rem 0;
                    height: 3.125rem;
                    border-width: .0625rem;
                    border-color: lightgray;
                    background-color: $alabaster;
                    border-radius: .3125rem;
                    font-family: 'avenir';
                    padding-left: 1rem;
                    font-size: 1rem;
                    flex-shrink: 0;

                    &::placeholder {

                        color: $band-site-black;
                    }

                }

                #comment {

                    height: 7.5rem;
                    padding-top: 1rem;
                }

                label {

                    color: rgb(151, 151, 151);
                    padding-top: 1rem;
                    text-transform: uppercase;
                }



                &--button {
                    margin-top: 1rem;
                    margin-bottom: 1.625rem;
                    border-radius: .3125rem;
                    color: white;
                    background-color: $band-site-black;
                    height: 3.125rem;
                    font-size: 1.125rem;

                    line-height: 3.125rem;
                    width: 30%;
                    align-self: flex-end;







                }
            }

        }

    }

    .comment-box {

        &__containers {



            &__objects {
                margin: 0 25rem;
                margin-top: 1rem;
                margin-bottom: 2.25rem;
                width: auto;
            }
        }
    }

}