$page-header-text-desktop: 60px;
$page-header-line-height-desktop: 68px;
$page-header-text-weight-desktop: bold 700;

$page-header-text-mobile: 30px;
$page-header-line-height-mobile: 40px;
$page-header-text-weight-mobile: bold 700;

$section-header-text-size-desktop: 36px;
$section-header-line-height-desktop: 44px;
$section-header-text-weight-desktop: 700;

$section-header-text-size-mobile: 24px;
$section-header-line-height-mobile: 32px;
$section-header-text-weight-mobile: bold 700;

$subheader-text-size-desktop: 24px;
$subheader-line-height-desktop: 32px;
$subheader-text-weight-desktop: demi 600;

$subheader-text-size-mobile: 14px;
$subheader-line-height-mobile: 22px;
$subheader-text-weight-mobile: demi 600;

$body-copy-text-size-desktop: 20px;
$body-copy-line-height-desktop: 28px;
$body-copy-text-weight-desktop: regular 400;

$body-copy-text-size-mobile: 13px;
$body-copy-line-height-mobile: 18px;
$body-copy-text-weight-mobile: regular 400;

$footer-copy-text-size-desktop: 14px;
$footer-copy-line-height-desktop: 20px;
$footer-copy-text-weight-desktop: regular 400;

$footer-copy-text-size-mobile: 13px;
$footer-copy-line-height-mobile: 18px;
$footer-copy-text-weight-mobile: regular 400;

$labels-and-buttons-text-size-desktop: 16px;
$labels-and-buttons-line-height-desktop: 20px;
$labels-and-buttons-text-weight-desktop: bold 700;

$labels-and-buttons-text-size-mobile: 10px;
$labels-and-buttons-line-height-mobile: 20px;
$labels-and-buttons-text-weight-mobile: bold 700;



$band-site-black: #323232;
$silver: silver;
$white: white;

$band-site-dark-black: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;