@font-face {
     font-family: 'Avenir';
     src: url('/Assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
          url('/Assets/fonts/AvenirNextLTPro.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'AvenirDemi';
     src: url('/Assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype'),
          url('/Assets/fonts/AvenirNextLTProDemi.ttf') format('truetype');
     font-weight: 500; 
     font-style: normal;
}

@font-face {
     font-family: 'AvenirBold';
     src: url('/Assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
          url('/Assets/fonts/AvenirNextLTProBold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}