@import 'variables.scss';

.heroShows {
    position: relative;
    height: 42vh;
    background: url(/Assets/images/hero-shows.jpg) center/cover no-repeat;
    overflow: hidden;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($band-site-black, .5);

    }

    &__content {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 16px 16px;

        &-h1--line1 {
            margin-bottom: 0;
        }

        &-h1--line2 {
            margin-top: 0;
        }

        &-h1--preline {
            margin-bottom: 0;
        }


    }


}

.iframe__div {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
        Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;

    &--anchor1,
    &--anchor2 {
        color: #cccccc;
        text-decoration: none
    }
}

.heroShows__content--span {
    font-size: 18px;
    font-family: 'Avenir';
    font-weight: normal;

}

.upcomingShows {
    &__header {
        padding-left: 16px;
        margin-top: 40px;
        margin-bottom: 16px;
    }

    &__containers {
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-bottom: 2px lightgrey solid;

        &--button {
            border-radius: 5px;
            color: white;
            background-color: $band-site-black;
            height: 50px;
            font-size: 18px;
        }

        &__mini {
            p {
                margin-top:5px;
                font-size: 14px;
                
            }
        }

        &--titles {
            color: rgb(151, 151, 151);
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        

    }
}

section {
    padding-bottom: 16px;
}

@media (min-width: 768px) {
    .heroShows {
        height: 100vh;
    }

    .heroShows__content-h1 {

        font-size: $page-header-text-desktop;
        line-height: $page-header-line-height-desktop;
        font-weight: $page-header-text-weight-desktop;
    }

    .sectionHeader {
        h2 {
            padding: 0px 64px;
            font-size: $section-header-text-size-desktop;
            line-height: $section-header-line-height-desktop;
            font-weight: $section-header-text-weight-desktop;
        }
    }

    .article__header {
        h3 {
            margin-bottom: 0;
            padding: 8px 160px 0px 160px;
            font-size: $subheader-text-size-desktop;
            line-height: $subheader-line-height-desktop;
            font-weight: $subheader-text-weight-desktop;
        }

    }

    .article__header2 {
        padding: 8px 176px 0px 176px;
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: $subheader-text-weight-desktop;
    }

    .article__header-sub {

        margin-top: 0;
        padding: 0px 160px;
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: $subheader-text-weight-desktop;

    }

    .article__content {

        padding: 0px 160px;

        p {
            font-size: $body-copy-text-size-desktop;
            line-height: $body-copy-line-height-desktop;
            font-weight: $body-copy-text-weight-desktop;
        }

    }




}