.header {
  background-color: #323232;
  padding: 20px 15px 0px 15px;
  text-align: center;
}
.header__logo-image {
  max-width: 120px;
  max-height: 20px;
}
.header__nav {
  display: grid;
  grid-template-columns: 50vw 50vw;
  justify-content: space-evenly;
}
.header__nav-link1, .header__nav-link2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: demi 600;
  margin-bottom: 0px;
  text-decoration: none;
  color: #E1E1E1;
}
.header__nav-link1:hover, .header__nav-link2:hover {
  border-bottom: 3px solid white;
  padding-bottom: 25px;
  margin-bottom: 0px;
  color: white;
}
.header__nav-link1--active, .header__nav-link2--active {
  border-bottom: 3px solid white;
  padding-bottom: 8px;
  margin-bottom: 0px;
  color: white;
}

@media (min-width: 768px) {
  .header__logo-image {
    z-index: 2;
  }
  .header {
    display: grid;
    grid-template-columns: 32px auto auto;
    text-align: center;
    position: relative;
    padding: 40px 0;
  }
  .header__logo {
    width: 100%;
    grid-column: 1;
    padding-left: 72px;
    width: auto;
  }
  .header__nav {
    display: initial;
    grid-column: 2;
    position: relative;
    z-index: 1;
  }
  .header__nav-link1 {
    grid-column: 2;
    width: auto;
    margin-right: 24px;
  }
  .header__nav-link2 {
    grid-column: 3;
    width: auto;
  }
  .header__nav-link1, .header__nav-link2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold 700;
  }
  .header__nav-link1:hover, .header__nav-link2:hover {
    border-bottom: 3px solid white;
    padding-bottom: 44px;
    margin-bottom: 0px;
    color: white;
  }
  .header__nav-link1--active, .header__nav-link2--active {
    border-bottom: 3px solid white;
    padding-bottom: 44px;
    margin-bottom: 0px;
    color: white;
  }
}
.hero {
  position: relative;
  height: 200px;
  background: url(/assets/images/hero-bio.jpg) center/cover no-repeat;
  overflow: hidden;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__content {
  padding: 0 16px;
  margin-left: 16px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
}

.heroShows__content--span {
  font-size: 10px;
}

.sectionHeader {
  padding: 0 0 0 16px;
  margin: 0;
  width: 100%;
}

.mainImage {
  padding: 0 16px;
}
.mainImage img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.article__header,
.article__header2 {
  padding: 0 16px;
}

.article__content p {
  padding: 16px 16px;
  margin: 0;
}
@media (min-width: 768px) {
  .article__content {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.photoGallery {
  padding: 16px 16px;
  background-color: #FAFAFA;
}
.photoGallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photoGallery__container img {
  width: calc(33.33% - 20px);
  margin: 0 10px 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .photoGallery__container img {
    width: 100%;
  }
}

.commentsjswrapper {
  margin-bottom: 16px;
}

.commentBox__containers {
  margin-bottom: 16px;
}
.commentBox__containers--profile {
  height: 50px;
  width: 50px;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 16px;
  margin-top: 13px;
  overflow: hidden;
  flex-shrink: 0;
}
.commentBox__containers--text--comment {
  padding-right: 16px;
  font-size: 16px;
  margin-top: 0;
  flex-wrap: wrap;
}
.commentBox__containers__objects {
  display: flex;
  border-bottom: 1px gray solid;
}
.commentBox__containers__objects--header {
  display: flex;
  justify-content: space-between;
}
.commentBox__containers__objects--header--date {
  flex-wrap: nowrap;
}

.commentBox {
  padding: 0 16px;
}
.commentBox h1 {
  padding-left: 16px;
}
.commentBox__container {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px lightgray solid;
}
.commentBox__container--image {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 26px;
}
.commentBox__container--image img {
  width: auto;
  height: 100%;
  display: block;
}
.commentBox__container__columnTwo {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.commentBox__container__columnTwo #name, .commentBox__container__columnTwo #comment {
  margin: 8px 0;
  height: 50px;
  border-width: 1px;
  border-color: lightgray;
  background-color: #FAFAFA;
  border-radius: 5px;
  font-family: "avenir";
  padding-left: 16px;
  font-size: 16px;
}
.commentBox__container__columnTwo #name::-moz-placeholder, .commentBox__container__columnTwo #comment::-moz-placeholder {
  color: #323232;
}
.commentBox__container__columnTwo #name::placeholder, .commentBox__container__columnTwo #comment::placeholder {
  color: #323232;
}
.commentBox__container__columnTwo #comment {
  height: 120px;
  padding-top: 16px;
}
.commentBox__container__columnTwo label {
  color: rgb(151, 151, 151);
  text-transform: uppercase;
}
.commentBox__container__columnTwo--button {
  margin-top: 16px;
  border-radius: 5px;
  color: white;
  background-color: #323232;
  height: 50px;
  font-size: 18px;
  padding-bottom: 16px;
}

.comment__label {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
  .hero__content-h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: bold 700;
  }
  .sectionHeader h2 {
    padding: 0px 64px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .article__header h3 {
    margin-bottom: 0;
    padding: 8px 160px 0px 160px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__header2 {
    padding: 8px 176px 0px 176px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__header-sub {
    margin-top: 0;
    padding: 0px 160px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__content {
    padding: 0px 160px;
  }
  .article__content p {
    font-size: 20px;
    line-height: 28px;
    font-weight: regular 400;
  }
  .mainImage {
    padding: 0px 176px;
  }
  .mainImage img {
    height: 70%;
  }
  .photoGallery h2 {
    padding: 0px 64px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.get-in-touch {
  background-color: #323232;
  color: #fff;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr;
}
.get-in-touch h2 {
  color: white;
}
.get-in-touch p {
  font-size: 13px;
  line-height: 18px;
  font-weight: regular 400;
}
.get-in-touch__logo {
  margin-bottom: 20px;
}
.get-in-touch__socials {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  align-content: center;
}
.get-in-touch__socials-icon {
  margin-right: 30px;
  text-align: center;
  height: auto;
}
.get-in-touch__logo-image {
  max-width: 120px;
  height: 20px;
  display: block;
  margin-top: 10px;
}
.get-in-touch__cards {
  margin-top: 5px;
}
.get-in-touch__cards-itemtop {
  margin-bottom: 0;
}
.get-in-touch__cards-itembottom {
  margin-top: 0;
}

@media (min-width: 768px) {
  .get-in-touch {
    padding: 24px 36px 0px 36px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
  .get-in-touch__copyright {
    grid-row: 5;
    grid-column: 1;
    grid-column: span 2;
  }
  .get-in-touch__logo {
    grid-row: 1;
    grid-column: 4;
    justify-self: right;
  }
  .get-in-touch h2 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }
  .get-in-touch__socials {
    grid-column: 2;
    grid-row: 1;
  }
  .get-in-touch__cards__cam {
    grid-row: 2;
    grid-column: 1;
    padding-right: 24px;
  }
  .get-in-touch__cards__cam2 {
    grid-row: 3;
    grid-column: 1;
    padding-right: 24px;
  }
  .get-in-touch__cards__cam-email {
    grid-row: 4;
    grid-column: 1;
    padding-right: 24px;
  }
  .get-in-touch__cards__pearl {
    grid-row: 2;
    grid-column: 2;
    padding-right: 24px;
  }
  .get-in-touch__cards__pearl2 {
    grid-row: 3;
    grid-column: 2;
    padding-right: 24px;
  }
  .get-in-touch__cards__pearl-email {
    grid-row: 4;
    grid-column: 2;
    padding-right: 24px;
  }
  .get-in-touch__cards__carson {
    grid-row: 2;
    grid-column: 3;
    padding-right: 24px;
  }
  .get-in-touch__cards__carson2 {
    grid-row: 3;
    grid-column: 3;
    padding-right: 24px;
  }
  .get-in-touch__cards__carson-email {
    grid-row: 4;
    grid-column: 3;
    padding-right: 24px;
  }
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("/assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("/assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "AvenirBold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("/assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("/assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("/assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "AvenirBold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("/assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir";
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular 400;
  color: #323232;
}

h1 {
  font-family: "AvenirBold";
  font-size: 30px;
  line-height: 40px;
  font-weight: bold 700;
}

h2 {
  font-family: "AvenirBold";
  font-size: 24px;
  line-height: 32px;
  font-weight: bold 700;
  color: #323232;
}

h3 {
  font-family: "AvenirDemi";
  font-size: 14px;
  line-height: 22px;
  font-weight: demi 600;
  color: #323232;
}

.bold20 {
  font-family: "AvenirDemi";
  font-weight: 700 bold;
  font-size: 20px;
}

.bold16 {
  font-family: "AvenirDemi";
  font-weight: 700 bold;
  font-size: 16px;
}

.heroShows {
  position: relative;
  height: 42vh;
  background: url(/Assets/images/hero-shows.jpg) center/cover no-repeat;
  overflow: hidden;
}
.heroShows__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.heroShows__content {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 16px 16px;
}
.heroShows__content-h1--line1 {
  margin-bottom: 0;
}
.heroShows__content-h1--line2 {
  margin-top: 0;
}
.heroShows__content-h1--preline {
  margin-bottom: 0;
}

.iframe__div {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}
.iframe__div--anchor1, .iframe__div--anchor2 {
  color: #cccccc;
  text-decoration: none;
}

.heroShows__content--span {
  font-size: 18px;
  font-family: "Avenir";
  font-weight: normal;
}

.upcomingShows__header {
  padding-left: 16px;
  margin-top: 40px;
  margin-bottom: 16px;
}
.upcomingShows__containers {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-bottom: 2px lightgrey solid;
}
.upcomingShows__containers--button {
  border-radius: 5px;
  color: white;
  background-color: #323232;
  height: 50px;
  font-size: 18px;
}
.upcomingShows__containers__mini p {
  margin-top: 5px;
  font-size: 14px;
}
.upcomingShows__containers--titles {
  color: rgb(151, 151, 151);
  margin-bottom: 5px;
  text-transform: uppercase;
}

section {
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .heroShows {
    height: 100vh;
  }
  .heroShows__content-h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: bold 700;
  }
  .sectionHeader h2 {
    padding: 0px 64px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .article__header h3 {
    margin-bottom: 0;
    padding: 8px 160px 0px 160px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__header2 {
    padding: 8px 176px 0px 176px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__header-sub {
    margin-top: 0;
    padding: 0px 160px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__content {
    padding: 0px 160px;
  }
  .article__content p {
    font-size: 20px;
    line-height: 28px;
    font-weight: regular 400;
  }
}/*# sourceMappingURL=bio.css.map */