.header {
  background-color: #323232;
  padding: 20px 0px 0px 0px;
  text-align: center;
  height: 6rem;
}
.header__logo--link {
  max-width: 120px;
  max-height: 20px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 16px;
}
.header__nav-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: demi 600;
  margin-bottom: 0px;
  text-decoration: none;
  color: #E1E1E1;
  flex-grow: 1;
  max-width: 50%;
}
.header__nav-link:hover {
  border-bottom: 3px solid white;
  padding-bottom: 14px;
  margin-bottom: 0px;
  color: white;
  font-family: "AvenirDemi";
}
.header__nav-link--active {
  border-bottom: 3px solid white;
  padding-bottom: 14px;
  margin-bottom: 0px;
  color: white;
  font-family: "AvenirDemi";
}

@media (min-width: 768px) {
  .header {
    background-color: #323232;
    padding: 0;
    height: 6rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header__logo--link {
    max-width: 120px;
    max-height: 20px;
    padding: 0 36px;
  }
  .header__nav {
    padding: 36px 36px 0 0px;
  }
  .header__nav-link {
    font-size: 18px;
    line-height: 18px;
    font-weight: demi 600;
    margin-bottom: 0px;
    text-decoration: none;
    color: #E1E1E1;
    width: 100%;
    padding: 0;
    margin: 0 36px;
  }
  .header__nav-link:hover {
    border-bottom: 3px solid white;
    padding-bottom: 36px;
    margin-bottom: 0px;
    color: white;
    font-family: "AvenirDemi";
  }
  .header__nav-link--active {
    border-bottom: 3px solid white;
    padding-bottom: 36px;
    margin-bottom: 0px;
    color: white;
    font-family: "AvenirDemi";
  }
}
.hero {
  position: relative;
  height: 250px;
  background: url(/assets/images/hero-bio.jpg) center/cover no-repeat;
  overflow: hidden;
}
.hero__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__content {
  margin-left: 16px;
  color: white;
}

.about-section {
  padding-top: 16px;
  margin: 0;
  width: 100%;
}
.about-section__h2 {
  font-size: 32px;
  padding-left: 16px;
}

.main-image {
  padding: 0 16px;
}
.main-image--image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.article__header {
  padding: 0 16px;
  font-size: 20px;
  margin-bottom: 0;
}
.article__header--h3 {
  font-size: 2px;
}
.article__header-sub {
  padding-left: 16px;
  font-size: 18px;
}

.article__content--p {
  padding: 16px 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin: 0;
}
@media (min-width: 768px) {
  .article__content {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.photo-gallery {
  padding: 16px;
  background-color: #FAFAFA;
}
.photo-gallery__header {
  font-size: 2rem;
  margin-bottom: 16px;
  font-family: "AvenirDemi";
}
.photo-gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.photo-gallery__container img {
  max-width: 100%;
  height: auto;
}

.js-wrapper-index {
  margin-bottom: 16px;
  max-width: 100%;
}

.comment-box__containers {
  margin-bottom: 16px;
}
.comment-box__containers--profile {
  height: 50px;
  width: 50px;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 16px;
  margin-top: 13px;
  overflow: hidden;
  flex-shrink: 0;
}
.comment-box__containers--text--comment {
  padding-right: 16px;
  font-size: 16px;
  margin-top: 0;
  word-wrap: break-word;
  max-width: 100%;
}
.comment-box__containers__objects {
  display: flex;
  border-bottom: 1px lightgray solid;
  margin: 0 16px;
}
.comment-box__containers__objects--content {
  max-width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  flex-grow: 1;
}
.comment-box__containers__objects--header {
  display: flex;
  justify-content: space-between;
}
.comment-box__containers__objects--header--date {
  flex-wrap: nowrap;
}

.placeholder-box {
  padding: 0 16px;
}
.placeholder-box__header {
  padding-left: 16px;
}
.placeholder-box__container {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;
  margin-bottom: 0;
  border-bottom: 1px lightgray solid;
}
.placeholder-box__container--image {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 26px;
}
.placeholder-box__container--image img {
  width: auto;
  height: 100%;
  display: block;
}
.placeholder-box__container__column-two {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.placeholder-box__container__column-two #name,
.placeholder-box__container__column-two #comment {
  margin: 8px 0;
  height: 50px;
  border-width: 1px;
  border-color: lightgray;
  background-color: #FAFAFA;
  border-radius: 5px;
  font-family: "avenir";
  padding-left: 16px;
  font-size: 16px;
}
.placeholder-box__container__column-two #name::-moz-placeholder, .placeholder-box__container__column-two #comment::-moz-placeholder {
  color: #323232;
}
.placeholder-box__container__column-two #name::placeholder,
.placeholder-box__container__column-two #comment::placeholder {
  color: #323232;
}
.placeholder-box__container__column-two #comment {
  height: 120px;
  padding-top: 16px;
}
.placeholder-box__container__column-two label {
  color: rgb(151, 151, 151);
  text-transform: uppercase;
}
.placeholder-box__container__column-two--button {
  margin-top: 16px;
  border-radius: 5px;
  color: white;
  background-color: #323232;
  height: 50px;
  font-size: 18px;
  padding-bottom: 0;
  line-height: 50px;
}

.comment__label {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
  .hero__content-h1 {
    padding-left: 36px;
    font-size: 60px;
    line-height: 68px;
    font-weight: bold 700;
  }
  .sectionHeader h2 {
    padding: 0px 64px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .article__header h3 {
    margin-bottom: 0;
    padding: 8px 160px 0px 160px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__header2 {
    padding: 8px 176px 0px 176px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__header-sub {
    margin-top: 0;
    padding: 0px 174px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__content {
    padding: 0px 160px;
  }
  .article__content p {
    font-size: 20px;
    line-height: 28px;
    font-weight: regular 400;
  }
  .about-section__h2 {
    padding-left: 48px;
    font-size: 3rem;
    padding-top: 16px;
    font-family: "AvenirDemi";
  }
  .main-image {
    padding: 0px 176px;
  }
  .main-image img {
    height: 70%;
  }
  .photo-gallery__container {
    display: flex;
    flex-direction: row;
    gap: 26px;
    flex-wrap: wrap;
    padding: 0 26px;
  }
  .photo-gallery__container img {
    width: 30%;
  }
  .photo-gallery h2 {
    padding: 0px 26px 16px 26px;
    font-size: 48px;
    line-height: 44px;
    font-weight: 700;
  }
  .placeholder-box__header {
    padding-left: 36px;
  }
  .placeholder-box {
    padding: 0 160px 0 80px;
    margin: 0 16px;
    border-bottom: 2px lightgray solid;
  }
  .placeholder-box__container {
    display: flex;
    align-items: flex-start;
    padding-bottom: 0;
    margin-bottom: 0;
    border: initial;
  }
  .placeholder-box__container--image {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 42px;
  }
  .placeholder-box__container--image img {
    width: auto;
    height: 100%;
    display: block;
  }
  .placeholder-box__container__column-two {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .placeholder-box__container__column-two #name,
  .placeholder-box__container__column-two #comment {
    margin: 8px 0;
    height: 50px;
    border-width: 1px;
    border-color: lightgray;
    background-color: #FAFAFA;
    border-radius: 5px;
    font-family: "avenir";
    padding-left: 16px;
    font-size: 16px;
  }
  .placeholder-box__container__column-two #name::-moz-placeholder, .placeholder-box__container__column-two #comment::-moz-placeholder {
    color: #323232;
  }
  .placeholder-box__container__column-two #name::placeholder,
  .placeholder-box__container__column-two #comment::placeholder {
    color: #323232;
  }
  .placeholder-box__container__column-two #comment {
    height: 120px;
    padding-top: 16px;
  }
  .placeholder-box__container__column-two label {
    color: rgb(151, 151, 151);
    padding-top: 16px;
    text-transform: uppercase;
  }
  .placeholder-box__container__column-two--button {
    margin-top: 16px;
    margin-bottom: 26px;
    border-radius: 5px;
    color: white;
    background-color: #323232;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    width: 30%;
    align-self: flex-end;
  }
  .comment-box__containers__objects {
    margin-top: 16px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1024px) {
  .hero {
    height: 100vh;
  }
  .hero__content-h1 {
    padding-left: 36px;
    font-size: 60px;
    line-height: 68px;
    font-weight: bold 700;
  }
  .sectionHeader h2 {
    padding: 0px 64px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .article__header h3 {
    margin-bottom: 0;
    padding: 8px 160px 0px 160px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__header2 {
    padding: 8px 176px 0px 176px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__header-sub {
    margin-top: 0;
    padding: 0px 174px;
    font-size: 24px;
    line-height: 32px;
    font-weight: demi 600;
  }
  .article__content {
    padding: 0px 160px;
  }
  .article__content p {
    font-size: 20px;
    line-height: 28px;
    font-weight: regular 400;
  }
  .about-section__h2 {
    padding-left: 48px;
    font-size: 3rem;
    padding-top: 16px;
    font-family: "AvenirDemi";
  }
  .main-image {
    padding: 0px 176px;
  }
  .main-image img {
    height: 70%;
  }
  .photo-gallery__container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    padding: 0 128px;
  }
  .photo-gallery__container img {
    width: 30%;
  }
  .photo-gallery h2 {
    padding: 0px 26px 16px 26px;
    font-size: 48px;
    line-height: 44px;
    font-weight: 700;
  }
  .placeholder-box__header {
    padding-left: 128px;
    font-size: 40px;
    padding-top: 64px;
  }
  .placeholder-box {
    margin: 0 400px;
    border-bottom: 2px lightgray solid;
  }
  .placeholder-box__container {
    display: flex;
    align-items: flex-start;
    padding-bottom: 0;
    margin-bottom: 0;
    border: initial;
  }
  .placeholder-box__container--image {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 42px;
  }
  .placeholder-box__container--image img {
    width: auto;
    height: 100%;
    display: block;
  }
  .placeholder-box__container__column-two {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .placeholder-box__container__column-two #name,
  .placeholder-box__container__column-two #comment {
    margin: 8px 0;
    height: 50px;
    border-width: 1px;
    border-color: lightgray;
    background-color: #FAFAFA;
    border-radius: 5px;
    font-family: "avenir";
    padding-left: 16px;
    font-size: 16px;
    flex-shrink: 0;
  }
  .placeholder-box__container__column-two #name::-moz-placeholder, .placeholder-box__container__column-two #comment::-moz-placeholder {
    color: #323232;
  }
  .placeholder-box__container__column-two #name::placeholder,
  .placeholder-box__container__column-two #comment::placeholder {
    color: #323232;
  }
  .placeholder-box__container__column-two #comment {
    height: 120px;
    padding-top: 16px;
  }
  .placeholder-box__container__column-two label {
    color: rgb(151, 151, 151);
    padding-top: 16px;
    text-transform: uppercase;
  }
  .placeholder-box__container__column-two--button {
    margin-top: 16px;
    margin-bottom: 26px;
    border-radius: 5px;
    color: white;
    background-color: #323232;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    width: 30%;
    align-self: flex-end;
  }
  .comment-box__containers__objects {
    margin: 0 400px;
    margin-top: 16px;
    margin-bottom: 36px;
    width: auto;
  }
}
.get-in-touch {
  background-color: #323232;
  color: #fff;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr;
}
.get-in-touch__title {
  color: white;
}
.get-in-touch p {
  font-size: 13px;
  line-height: 18px;
  font-weight: regular 400;
}
.get-in-touch__logo {
  margin-bottom: 20px;
}
.get-in-touch__socials {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  align-content: center;
}
.get-in-touch__socials--icon {
  margin-right: 30px;
  text-align: center;
  height: auto;
}
.get-in-touch__logo-image {
  max-width: 120px;
  height: 20px;
  display: block;
  margin-top: 10px;
}
.get-in-touch__cards {
  margin-top: 5px;
}
.get-in-touch__cards-itemtop {
  margin-bottom: 0;
}
.get-in-touch__cards-itembottom {
  margin-top: 0;
}

span {
  color: white;
}

@media (min-width: 768px) {
  .get-in-touch {
    padding: 24px 36px 0px 36px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
  .get-in-touch__cards {
    color: white;
  }
  .get-in-touch__cards__cam {
    grid-row: 2;
    grid-column: 1;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__cam2 {
    grid-row: 3;
    grid-column: 1;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__cam-email {
    grid-row: 4;
    grid-column: 1;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__pearl {
    grid-row: 2;
    grid-column: 2;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__carson {
    grid-row: 2;
    grid-column: 3;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__carson2 {
    grid-row: 3;
    grid-column: 3;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__carson-email {
    grid-row: 4;
    grid-column: 3;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards-itemtop {
    color: lightgray;
    margin-bottom: 0;
    padding-bottom: 4px;
    font-size: 32px;
    line-height: 18px;
    font-weight: regular 400;
  }
  .get-in-touch__cards--itembottom {
    color: lightgray;
    margin-top: 0;
    font-size: 32px;
    line-height: 18px;
    font-weight: regular 400;
  }
  .get-in-touch__cards__pearl2 {
    grid-row: 3;
    grid-column: 2;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__pearl-email {
    font-size: 32px;
    grid-row: 4;
    grid-column: 2;
    padding-right: 24px;
  }
  .get-in-touch__copyright {
    grid-row: 5;
    font-size: 32px;
    grid-column: 1;
    grid-column: span 2;
  }
  .get-in-touch__logo {
    grid-row: 1;
    grid-column: 4;
    justify-self: right;
  }
  .get-in-touch__logo h2 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }
  .get-in-touch__logo__socials {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 1024px) {
  .get-in-touch {
    padding: 24px 128px 0px 128px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
  .get-in-touch__cards {
    color: white;
  }
  .get-in-touch__cards__cam {
    grid-row: 2;
    grid-column: 1;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__cam2 {
    grid-row: 3;
    grid-column: 1;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__cam-email {
    grid-row: 4;
    grid-column: 1;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__pearl {
    grid-row: 2;
    grid-column: 2;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__carson {
    grid-row: 2;
    grid-column: 3;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__carson2 {
    grid-row: 3;
    grid-column: 3;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__carson-email {
    grid-row: 4;
    grid-column: 3;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards-itemtop {
    color: lightgray;
    margin-bottom: 0;
    padding-bottom: 4px;
    font-size: 32px;
    line-height: 18px;
    font-weight: regular 400;
  }
  .get-in-touch__cards--itembottom {
    color: lightgray;
    margin-top: 0;
    font-size: 32px;
    line-height: 18px;
    font-weight: regular 400;
  }
  .get-in-touch__cards__pearl2 {
    grid-row: 3;
    grid-column: 2;
    padding-right: 24px;
    font-size: 32px;
  }
  .get-in-touch__cards__pearl-email {
    font-size: 32px;
    grid-row: 4;
    grid-column: 2;
    padding-right: 24px;
  }
  .get-in-touch__copyright {
    grid-row: 5;
    font-size: 32px;
    grid-column: 1;
    grid-column: span 2;
  }
  .get-in-touch__logo {
    grid-row: 1;
    grid-column: 4;
    justify-self: right;
  }
  .get-in-touch__logo h2 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }
  .get-in-touch__logo__socials {
    grid-column: 2;
    grid-row: 1;
  }
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("/assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("/assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "AvenirBold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("/assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("/assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("/assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "AvenirBold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("/assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir";
  margin: 0;
}

h1 {
  font-family: "AvenirBold";
  font-size: 30px;
  line-height: 40px;
  font-weight: bold 700;
}

h2 {
  font-family: "AvenirBold";
  font-size: 24px;
  line-height: 32px;
  font-weight: bold 700;
  color: #323232;
}

h3 {
  font-family: "AvenirDemi";
  font-size: 14px;
  line-height: 22px;
  font-weight: demi 600;
  color: #323232;
}

.bold20 {
  font-family: "AvenirDemi";
  font-weight: 700 bold;
  font-size: 20px;
}

.bold22 {
  font-family: "AvenirDemi";
  font-weight: 700 bold;
  font-size: 22px;
}

.bold16 {
  font-family: "AvenirDemi";
  font-weight: 700 bold;
  font-size: 16px;
}/*# sourceMappingURL=bio.css.map */